/* style.css */

.navbar {
  min-height: 90px;
  background-color: #8c1414 !important;
}

.navbar-toggler {
  border: none;
}

.nav-link {
  font-weight: bold;
}

.dropdown-menu {
  background-color: #000000b3;
  border: none;
}

.dropdown-item {
  color: #ffffff;
}

.dropdown-item:hover {
  background-color: #0c3359;
}

.dropdown-toggle {
  font-size: 2.5rem;
  line-height: 1;
  height: 3rem;
  width: 3rem;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 200px;
  padding: 10px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  align-items: center;
  width: 180px; /* adjust the size as per your preference */
  height: 90px; /* this will maintain the aspect ratio of the image */
  margin: -50px; /* set the left and right margin to auto to center the image horizontally */
  margin-top: -20px; /* adjust the value as per your preference */
}

